@model DealDouble.Entities.Auction

<h2>Edit</h2>

<form method="post" id ="editForm" action="Auctions/Edit/">
    <input type="hidden" name="ID" value="@Model.Id" />


    <label>Title</label>
    <input name="Title" value="@Model.Title" />
    <br />

    <label>Description</label>
    <input name="Description" value="@Model.Description" />
    <br />

    <label>ActualAmount</label>
    <input name="ActualAmount" value="@Model.ActualAmount" />
    <br />

    <label>StartingTime</label>
    <input name="StartingTime" value="@Model.StartingTime" />
    <br />

    <label>EndTime</label>
    <input name="EndTime" value="@Model.EndTime" />
    <br />

    <button id="saveButton" type="button" class="btn btn-success">Save</button>
</form>
<script>
    $("#saveButton").click(function () {
        $.ajax({
            url: "/Auctions/Edit/",
            method: "post",
            data: $("#editForm").serialize()
        })
            .done(function (response) {
                debugger;
                $("#listingArea").html(response);
            })
        .fail(function () { });
      });
</script>